* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #fff;
}

.container {
    max-width: 800px; /* Adjusted to 80% of typical viewport width in pixels */
    margin: 0 auto;
    padding: 20px; /* Adjusted to 2% of typical viewport width in pixels */
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    height: 4rem;
    border-bottom: 1px solid #2D3250;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #fff;
}

nav {
    background-color: rgba(45, 50, 80, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #2D3250;
    flex-direction: row;
    flex-wrap: nowrap;
}

li {
    display: inline;
    margin: 15px; /* Adjusted to 1.5% of typical viewport width in pixels */
    padding: 15px; /* Adjusted to 1.5% of typical viewport width in pixels */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white !important ;
    text-decoration: none !important;
    font-family: Madimi One;
}

h1 {
    margin-bottom: 20px; /* Adjusted to 2% of typical viewport width in pixels */
}

h2 {
    font-family: "Ojuju", sans-serif;
    color: #fff !important;
}

form {
    margin-bottom: 20px; /* Adjusted to 2% of typical viewport width in pixels */
}

input[type="file"],
input[type="number"],
button {
    margin: 15px; /* Adjusted to 1.5% of typical viewport width in pixels */
    padding: 15px; /* Adjusted to 1.5% of typical viewport width in pixels */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.headingContainer,
.formContainer,
.outputImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Adjusted to 1vw in pixels */
    margin: 20px auto; /* Adjusted to 2vw in pixels */
    padding: 20px; /* Adjusted to 1vw in pixels */
}

.outputImageContainer {
    
    overflow-y: auto;
    max-height: 80vh; /* Set to a fixed pixel value */
}

.downloadContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.imageDiv{
    padding: 2px;
    margin: 2px;
    border: 2px dashed #201658;
}
.container1{
    background-color: #F9E8C9;
}
.container2{
    background-color: #402B3A;
    overflow-y: auto;
    max-height: 600px;
}
.card {
    display: flex;
    flex-direction: row; /* Change to row */
    justify-content: space-evenly;
    align-items: center;
    width: 400px; /* Adjust width as needed */
 
    flex: 0 0 200px; /* Adjust the width as needed */
    margin: 10px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    flex-grow: 1;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  