*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}


body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    max-width: auto;
    margin: 0 auto;
    height: 4rem;
    border-bottom: 1px solid #2D3250;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #fff;
   
    
}
nav{
    background-color: #2d3250e0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    height: 4rem;
    border-bottom: 1px solid #2D3250;
    flex-direction: row;
    flex-wrap: nowrap;
}
li{
    display: inline;
    margin: 10px;
    padding: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color:white;
    text-decoration: none;
    font-family: Madimi One;
  }

h1 {
    margin-bottom: 20px;
}

h2{
    font-family: "Ojuju", sans-serif;
    color: #fff;
}
form {
    margin-bottom: 20px;
}

input[type="file"], input[type="number"], button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
img {
    max-width: 100%;
  
}

.headingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin-bottom: 100px;
    padding: 100px;
}
.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    margin-bottom: 100px;
    padding: 100px;
}
.outputImageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid blueviolet;
    margin: 100px auto;
    padding: 20px;
    overflow-y: auto;
    max-height: 400px; /* Adjust the max height as needed */
}
