<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Resizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Ojuju:wght@200..800&display=swap" rel="stylesheet">

</head>
<body>
    <header>

        <nav>

            <div><h2>Ubi Tech</h2>
            </div>
            <div >
                <ul>
                    <li> <a href=""> Home </a>  </li>
                    <li> <a href="">About</a> </li>
                    <li> <a href="">Service</a> </li>
                    <li> <a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>



    <div class="container">
      <div >
        <div class="headingContainer"> 
            <h1>Image Resizer</h1>
        </div>
        <div  class="formContainer">
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <input type="number" name="width" placeholder="New Width" required>
                <button type="submit">Resize</button>
            </form>

        </div>
      
        <div  class="outputImageContainer" >
            {% if resized_img %}
            <img src="{{ resized_img }}" alt="Resized Image">
        {% endif %}
        </div>


      </div>
       
   
    </div>
</body>
</html>
