<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Resizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Ojuju:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <div>
                <h2>Ubi Tech</h2>
            </div>
            <div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="headingContainer"> 
        <h1>Image Resizer</h1>
    </div>
    <div class="containter-fluid container1">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="formContainer">
                    <form action="/" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" accept="image/*" multiple required>
                        <input type="number" name="width" placeholder="New Width" required>
                        <button type="submit">Resize</button>
                    </form>
                </div>
            </div>
           
        </div>
       
    </div>
    <div class="containter-fluid container2">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% if resized_images %}
                {% for img_path in resized_images %}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card text-center">
                            <img src="{{ img_path }}" alt="Resized Image">
                            <div class="card-body">
                                <a href="{{ img_path }}" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</body>
</html>
