<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Resizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href=""> Home </a>  </li>
                <li> <a href="">About</a> </li>
                <li> <a href="">Service</a> </li>
                <li> <a href="">Contact</a></li>
            </ul>
        </nav>
    </header>



    <div class="container">
        <h1>Image Resizer</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <input type="number" name="width" placeholder="New Width" required>
            <button type="submit">Resize</button>
        </form>
        {% if resized_img %}
            <img src="{{ resized_img }}" alt="Resized Image">
        {% endif %}
    </div>
</body>
</html>
